<div class="container">
    <h1 class="text-center">Carrito</h1>
    <hr>
    <div class="row" id="contenedor-productos">

    </div>
</div>

<template id="template-productos">
    <div class="col-12 col-md-4 mb-3">
        <div class="card">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">$<span></span></p>
                <button class="btn btn-dark">
                    Comprar
                </button>
            </div>
        </div>
    </div>
</template>